---
const year = new Date().getFullYear();
---

<div>
  <span>
    © {year}
    <a href="/"> 1st Chertsey Scout Group</a> All Rights Reserved.
  </span>

  <style>
    div {
      @apply text-center p-6 bg-stone-100 dark:bg-stone-950;
    }

    a {
      @apply text-red-700 dark:text-red-500;
    }
  </style>
</div>
