---
import Container from "./container.component.astro";
import CopyrightNotice from "./copyright-notice.component.astro";
---

<footer class="p-4 xl:text-left text-center bg-stone-50 dark:bg-stone-900">
  <Container>
    <div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-8">
      <div class="col-span-2 lg:col-span-3 xl:col-span-2">
        <h4 class="uppercase font-bold pb-4">1st Chertsey Scout Group</h4>
        <div class="space-y-2">
          <p>
            Established in 1909, 1st Chertsey Scout Group continues to thrive,
            providing fun, adventure, and development opportunities.
          </p>
          <p>
            At present, over 100 young people take part in activities each week,
            with a diverse programme provided by an experienced team of
            volunteer leaders and parent helpers.
          </p>
        </div>
      </div>
      <div>
        <h4 class="uppercase font-bold pb-4">Useful link</h4>
        <ul class="space-y-2">
          <li>
            <a href="https://www.facebook.com/1stchertseyscoutgroup">
              Our Facebook
            </a>
          </li>
          <li><a href="/sections"> Sections</a></li>
          <li>
            <a href="https://www.justgiving.com/chertseyscouts">Donate</a>
          </li>
          <li><a href="/news">News</a></li>
        </ul>
      </div>
      <div>
        <h4 class="uppercase font-bold pb-4">More Information</h4>
        <ul class="space-y-2">
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/cookies">Cookies</a></li>
          <li><a href="/site-map">Site Map</a></li>
        </ul>
      </div>
      <div class="col-span-2 lg:col-span-1">
        <h4 class="uppercase font-bold pb-4">Our HQ</h4>
        <div class="space-y-2">
          <p>
            Registered Charity:
            <a
              href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/1055895/charity-overview"
            >
              1055895
            </a>
          </p>
          <p>1st Chertsey Scout Group</p>
          <p>Scout HQ, Staines Lane</p>
          <p>Chertsey</p>
          <p>Surrey</p>
          <p>KT16 8PS</p>
        </div>
      </div>
    </div>
  </Container>
</footer>

<CopyrightNotice />

<style>
  a {
    @apply text-red-600 dark:text-red-500;
  }
</style>
