---
import BaseLayout from "../layouts/base.layout.astro";

import Footer from "../components/core/footer-navigation.component.astro";
import Header from "../components/core/header-navigation.component.astro";

interface Props {
  title: string;
}

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <Header />
  <main>
    <div class="text-center text-white border-red-600 bg-red-600 p-8 text-5xl">
      {title}
    </div>

    <slot />
  </main>
  <Footer />
</BaseLayout>
